<div id="share">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
        data-show-count="false"
        data-size="large"
        data-hashtags="isitup"
        data-dnt="true"
        data-text="{{ text }}">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
