<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>{% block title %}Is it up?{% endblock %}</title>

    <meta name="description" content="A simple tool to check if a website or ip address is up or down."/>
    <meta name="wot-verification" content="c533868b214acabc1bc6"/>
    <meta name="theme-color" content="#ECECEC"/>

    <link rel="stylesheet" type="text/css" media="all" href="/styles/normalize.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {{ include('tags/google-analytics-tag.html.twig') }}
</head>
<body>
{% block body %}{% endblock %}
{{ include('tags/carbon-ads-tag.html.twig') }}
</body>
</html>
