{% extends "base.html.twig" %}

{% block body %}
    <div id="container">
        <noscript>
            <p class="warning">Please don't enter "http://" or a trailing slash, as you do not seem to be using
                javascript.</p>
            <p class="warning">For example type in <code>example.com</code> instead of <code>http://<u>example.com</u>/test/ing.html</code>
            </p>
        </noscript>

        <form method="get" action="/check" id="form">
            <p>is <input type="text" name="website" id="input" placeholder="{{ website }}" accesskey="4"/> <input
                        type="submit" id="submit" value="up?" accesskey="s"/></p>
        </form>
    </div>

    <script>
        // Listen in on the form submission
        document.getElementById("form").addEventListener("submit", function (event) {
              let input = document.getElementById("input");

              // Only if the url contains something we can submit
              if (input.value) {
                    // Change the browser's url, adding only the domain
                    window.location =
                          "/" +
                          input.value
                                .replace(/^[ \s]+|[ \s]+$|http(s)?:\/\/|\/(.*)/g, "")
                                .toLowerCase();
              }

              // Do not submit if there is no input value
              input.setAttribute("placeholder", "please enter a domain...");

              event.preventDefault();
              event.stopPropagation();
        });
    </script>
{% endblock %}
