{% extends "base.html.twig" %}

{% block body %}
    <div id="container">
        {{ form_start(form, {'attr': {'id': 'form'}}) }}
            <p>is {{ form_widget(form.website, {'id': 'input', 'value': '', 'attr': {'placeholder': form.website.vars.value}}) }} {{ form_widget(form.submit, {'id': 'submit', 'label': 'up?'}) }}</p>                
        {{ form_end(form) }}
    </div>
{% endblock %}
