{% extends "base.html.twig" %}

{% block body %}
    <div id="container">
        <form method="post" action="/" id="form">
            <p>is <input type="text" name="website" id="input" placeholder="{{ website }}" accesskey="4"/> <input
                        type="submit" id="submit" value="up?" accesskey="s"/></p>
        </form>
    </div>
{% endblock %}
