{% extends "base.html.twig" %}

{% block title %}Woops...{% endblock %}

{% block body %}
    <div id="container">
        <p>We need a valid domain to check! <a href="{{ path('index', { website: website }) }}">Try again</a>.</p>
    </div>
{% endblock %}
