{% extends "base.html.twig" %}

{% block title %}Sure isitup.org is up...{% endblock %}

{% block body %}
    <div id="container">
        <p><a href="https://isitup.org" class="domain">isitup.org</a> is up 🎉</p>
        <p>But maybe have a think about what you've just done...</p>
    </div>
{% endblock %}
