{% extends "base.html.twig" %}

{% block title %}Oh no {{ website }} is down!{% endblock %}

{% block body %}
    {{ include('tags/twitter-share-button.html.twig', { text: 'Oh no %s seems to be down!' | format(website) }) }}

    <div id="container">
        <p><a href="http://{{ website }}" class="domain" rel="nofollow">{{ website }}</a> seems to be down 💥</p>
    </div>
{% endblock %}
