Options +FollowSymlinks

ErrorDocument 404 /errors/404.html
ErrorDocument 500 /errors/500.html
ErrorDocument 504 /errors/504.html

Header always append X-Frame-Options DENY

RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,NC,L]

RewriteRule ^robots\.txt$ robots.txt [NC,L]

RewriteRule ^save/(.*)$ index.php?d=$1&save [NC,L]
RewriteRule ^d/(.*)$ index.php?d=$1 [NC,L]
RewriteRule ^clear$ index.php?clear [NC,L]

RewriteRule ^(.*)\.json$ api.php?domain=$1&output=json [NC,L,QSA]
RewriteRule ^(.*)\.txt$ api.php?domain=$1&output=txt [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !^/$
RewriteRule ^(.*)$ check.php?domain=$0 [L]
